# ide settings files
.idea
*.iml

# Never track cert information within this repository
*.pem
*.key
CMD_BACKUP.md
LOCAL.md

# Do not track all sql dump files
vkdb-new.dump

# Do not add any gz files to the repository
*.tar.gz

# Local yml files should also not be tracked
*.local.yml
*.local

# Do not track public key
id_rsa_slub.pub
