<IfModule mod_ssl.c>
    <VirtualHost {{ item }}:443>
        ServerName {{ item }}
        ServerAdmin {{ apache2.admin_mail }}

        # Enable caching for all requests; cache content on local disk
        CacheEnable disk /
        CacheRoot /var/cache/apache2/mod_cache_disk
        CacheDirLength 4
        CacheDirLevels 4

        # Common caching directives
        CacheQuickHandler off
        CacheLock on
        CacheLockPath /tmp/mod_cache-lock
        CacheLockMaxAge 5
        CacheHeader On

        # Cache control
        CacheIgnoreNoLastMod On
        CacheIgnoreCacheControl On

        # Exclude files from cache
        <filesMatch "\.(html|htm|js|css|php|json)$">
        FileETag None
            Header unset ETag
            Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
            Header set Pragma "no-cache"
            Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
        </filesMatch>

        # set expiration headers for image content
        <filesMatch "\.(ico|gif|jpg|png)$">
            # Unset headers from upstream server
            Header unset Expires
            Header unset Cache-Control
            Header unset Pragma
            ExpiresActive On
            ExpiresByType image/png "access plus 30 days"
        </filesMatch>

        # Configure the load balancer
        <Proxy balancer://cluster>
            {% for url in apache2.proxy_urls %}
            BalancerMember {{ url }}
            {% endfor %}
            ProxySet lbmethod=bybusyness
        </Proxy>

        # Configure the ssl proxy engine. Wrong configuration here could lead to problems with https reverse proxy
        SSLProxyEngine on
        SSLProxyVerify none
        SSLProxyCheckPeerCN off
        SSLProxyCheckPeerName off
        SSLProxyCheckPeerExpire off

        # Reverse proxy for upstream servers
        ProxyPreserveHost On
        ProxyRequests Off
        ProxyPass / balancer://cluster/
        ProxyPassReverse / balancer://cluster/

        # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
        # error, crit, alert, emerg.
        # It is also possible to configure the loglevel for particular
        # modules, e.g.
        #LogLevel info ssl:warn

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        # For most configuration files from conf-available/, which are
        # enabled or disabled at a global level, it is possible to
        # include a line for only one particular virtual host. For example the
        # following line enables the CGI configuration for this host only
        # after it has been globally disabled with "a2disconf".
        #Include conf-available/serve-cgi-bin.conf
        SSLCertificateFile {{ apache2.cert.cert }}
        SSLCertificateKeyFile {{ apache2.cert.key }}
        SSLCertificateChainFile {{ apache2.cert.chain }}
        SSLEngine on
    </VirtualHost>
</IfModule>