# Created by jacob.mendt@pikobytes.de on 13.10.21
#
# This file is subject to the terms and conditions defined in file
# "LICENSE", which is part of this source code package
#
# Install of apache-http as a reverse proxy for the georeference service
---
  # Make sure certificates are installed
  - include_role:
      name:
        role: '../_roles/apache-certs'

  # Make sure a clean apache http server is installed
  - include_role:
      name:
        role: '../_roles/apache-clean-install'

  # Make sure old vhost configurations are removed
  - include_role:
      name:
        role: '../_roles/apache-clean-vhosts'


  #
  # Setting up apache and the reverse proxy rules
  #
  - name: Install apache2
    apt:
      name: [python3-passlib, libapache2-mod-wsgi-py3, libapache2-mod-proxy-uwsgi ]
    become: yes

  - name: Enable mod_proxy, mod_proxy_http, mod_headers, mod_proxy_uwsgi, mod_rewrite, mod_ssl
    shell: a2enmod proxy proxy_http headers rewrite ssl proxy_uwsgi
    become: yes

  - name: Create password file
    htpasswd:
      path: /etc/apache2/.htpasswd
      name: '{{ apache2.basic_auth_user }}'
      password: '{{ apache2.basic_auth_password }}'
      owner: root
      group: www-data
      mode: 0640
    when: apache2.basic_auth == True
    become: yes

  - name: Copy configurations to sites-available (http)
    template:
      src: 000-default.conf.j2
      dest: "/etc/apache2/sites-available/{{ item }}.conf"
    with_items:
      - "{{ apache2.vhosts }}"
    become: yes

  - name: Copy configurations to sites-available (https)
    template:
      src: 000-default-ssl.conf.j2
      dest: "/etc/apache2/sites-available/{{ item }}-ssl.conf"
    with_items:
      - "{{ apache2.vhosts }}"
    become: yes

  - name: Enable apache sites
    shell:
      cmd: "a2ensite {{ item }} {{ item }}-ssl"
    with_items:
      - "{{ apache2.vhosts }}"
    become: yes

  - name: Restart apache2
    shell: systemctl restart apache2
    become: yes
