{% if db.restore_database == True %}
DROP DATABASE IF EXISTS {{ db.name }};
DROP USER IF EXISTS {{ db.user }};
{% endif %}

CREATE USER {{ db.user }} WITH PASSWORD '{{ db.password }}';
CREATE DATABASE {{ db.name }} WITH ENCODING 'UTF8' OWNER {{ db.user }};
GRANT ALL PRIVILEGES ON DATABASE {{ db.name }} TO {{ db.user }};