[defaults]
remote_user = vk2adm
host_key_checking = False
roles_path = ./roles
timeout = 10
retry_files_enabled = False

[privilege_escalation]
become = True
become_method=sudo
become_user=root
become_ask_pass=False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=10m